*{
    margin: 0;
    padding: 0;
}

nav{
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    
    
}
nav ul{
    
}
nav a{
    line-height: 50px;
    
    font-size: 15px;
    
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: wheat;
    cursor: pointer;
    justify-content: space-around;
    
}

body{
    background-color: black;
    color:wheat;
    
}
.blood img{
    width: 700px;
    margin-left: 800px;
    border: 1px solid;
    border-radius: 100px;
}